body {
    font-family: sans-serif;
    text-align: center;
    height: 1000px;
    background-repeat: no-repeat;
}

#backgroundDiv{
    width:100%; 
    height:1000px; 
    opacity: 1;
    position: absolute;
}

#filterDiv{
    width:100%; 
    height:1000px; 
    background-color: #F2F2F2;
    opacity: 1;
    position: absolute;
}

#loading{
    position:absolute;
    width:100%;
    height:1000px;
    background-color:#F2F2F2;
    visibility: hidden;
    opacity: 1;
    z-index: 100;
}

#loadingImage{
    width:500px;
    margin:auto;
}

#header{
    height:100px;
}

#footer{
    height:200px;
    position:relative;
    margin-top:40px;
}

.div-picture{
    height: 150px;
    width: 150px;
    margin: 10px;
    display: inline-block;
    border: 1px solid  rgb(138, 116, 116)38, 116, 116);
    position:relative;
}

.picture{
    height: 150px;
    width: 150px;
}

.picture-title{
    background-color: white;
    opacity: 0.8;
    position:absolute;
    width:150px;
    height:150px;
}

#logo{
    width:100px;
    margin-top: 2%;
    margin-left:4%;
    position: relative;
    display: inline-block;
    float:left;
}

#reset{
    width:20px;
    margin-top: 1%;
    position: relative;
    display: inline-block;
    visibility: hidden;
    right:35px;
    top:5px;
}

#apoya {
    width:150px;
    display:inline-block;
    position:relative;
    margin-top:20px;
}

#info {
    width: 100px;
    display:inline-block;
    position:relative;
    margin-bottom:20px;
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    display: inline-block;
    position: relative;
}

.circleBig {
    width: 150px;
    height: 150px;
    position:relative;
    margin:auto;
    bottom:60px;
}

.one {
    left: 30%;
    top: -33%;
    background-color: #FF0000;

}

.two {
    left: 0%;
    bottom: -103%;
    background-color: #00FFFF; 
}

.three {
    right: -38%;
    top: 35%;
    background-color: #77FF00;
}

.four {
    left: -38%;
    top: 5%;
    background-color:#7700FF;
}

.five {
    left: 58%;
    bottom: -42%;
    background-color: #00FF00; 
}

.six {
    left: 5%;
    bottom: -65%;
    background-color: #00FF77; 
}

.seven{
    right: 5%;
    bottom: -36%;
    background-color: #0077FF; 
}

.eight{
    right: 60%;
    bottom: -12%;
    background-color: #0000FF;
}

.nine{
    right: 87%;
    top: -59%;
    background-color: #FF00FF; 
}

.ten{
    right: 3%;
    top: -112%;
    background-color: #FF0077;
}

.eleven{
    left: 33%;
    top: -112%;
    background-color: #FF7700;
}

.twelve {
    left: 29%;
    top: -88%;
    background-color: #FFFF00;
}

#video_wrap {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin:auto;
    position: relative;
    top: 90px;
    overflow: clip;
} 

#video_filter {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    float:center;
    margin:auto;
    background-color:white;
    opacity: 0.5;
    position: absolute;
    visibility: hidden;
    top: 0px;
}  

#video_frame {
    width: auto;
    height: 100%;
    margin-left: -25px; 
}

#name{
    background: white;
    border-radius: 10px;
    border:0;
    width: 400px;
    position:relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 
    padding:10px;
    font-size:14px;
}

#audio {
    display: none
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff') format('woff'), /* Modern Browsers */
  }


*{
    padding:0px;
    margin:0px;
}

#contenedor img{
    width:250px;
}

#contenedor{
    width:250px;
    margin:100px auto;
    overflow: hidden;
}

#contenedor ul {
    list-style: none;
    display:flex;
    animation: slide 20s infinite alternate;
}


@keyframes slide {
    0% {
        margin-left: 0px;
    }

    25% {
        margin-left: 0px;
    }

    30% {
        margin-left: -250px;
    }

    50% {
        margin-left: -250px;
    }

    55% {
        margin-left: 0;
    }

    75% {
        margin-left: 0;
    }

    80% {
        margin-left: -250px;
    }

    100% {
        margin-left: -250px;
    }
   
}

.dotting {
    display: inline-block; width: 18px; min-height: 4px;
    padding-right: 4px;
    border-left: 4px solid currentColor; border-right: 4px solid currentColor;
    background-color: currentColor; background-clip: content-box;
    box-sizing: border-box;
    -webkit-animation: dot 4s infinite step-start both;
    animation: dot 4s infinite step-start both;
    *zoom: expression(this.innerHTML = '...'); /* IE7 */
}
.dotting:before { content: '...'; } /* IE8 */
.dotting::before { content: ''; }
:root .dotting { margin-left: 2px; padding-left: 8px; } /* IE9+ */

@-webkit-keyframes dot {
    25% { border-color: transparent; background-color: transparent; }
    50% { border-right-color: transparent; background-color: transparent; }
    75% { border-right-color: transparent; }
}
@keyframes dot {
    25% { border-color: transparent; background-color: transparent; }
    50% { border-right-color: transparent; background-color: transparent; }
    75% { border-right-color: transparent; }
} 

#rights{
    margin-top: 80px;
    font-size:14px;
}